 .homebox{
  position: absolute;
   
  width: 100%;
   z-index: 400;
   top: 80vh;
  height:  auto;
 }


 @media screen and (max-width: 800px) {
    .homebox{
       
         top: 70vh;
        
       }
     
   
      
 }