.video_frame {
  position: fixed;
  top: 50px;
  min-height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

#v_bag {
  display: block;
  width: 100%;
  transition: opacity 600ms ease 0s;
  position: relative;
  object-fit: cover;
  min-height: 100%;
  will-change: transform;
  opacity: 1;
}

.body {
  position: relative;

  align-items: center;
  width: 100%;

  height: auto;
  padding-bottom: 80px;
}

.mdiv {
  margin-top: 50px;
}

.b {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  height: 100%;
}

.b div > img {
  width: 80%;
  margin: auto;
  border-radius: 7px;
}
.c img {
  width: 33%;
  border-radius: 7px;
}

.c {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  height: fit-content;
}

.d {
  width: 33%;
  margin: auto;
  margin-top: 20px;
}
.d > img {
  width: 100%;
  border-radius: 7px;
}

.f2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  width: 65%;
  margin: auto;
  margin-top: 20px;
}

.f2 img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.f1 img {
  width: 100%;

  border-radius: 10px;
}
.f1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  width: 65%;
  margin: auto;
  margin-top: 20px;
}

.move {
  position: absolute;
  top: 0;
  width: 100%;
  height: fit-content;
}
/* @media screen and (max-width:1200px) {
    .mainbody{
    
       margin-top: -100px;
       
       
     }
    
    #v_bag{
   
       display: block;
       width: 100%;
       transition: opacity 600ms ease 0s;
       position: relative;
       object-fit: cover;
       height: 75vh;
       will-change: transform;
       opacity: 1;
       
    }
    
    .contant{
       min-height: 600px;
       
     }
      
     .left >svg:nth-child(1){
        position: absolute;
        left: -30.5%;
        top: 16.6%;
        width: 70%;
       height: auto;
        align-self: flex-end;
        z-index: 100;
      
     }
     .left >svg:nth-child(2){
        position: absolute;
        left:-22%;
        top: 53%;
        width: 63%;
       height: auto;
        align-self: flex-end;
        z-index: 100;
       
     }
     .right >svg:nth-child(1){
        position: absolute;
        right: -22%;
        top: -27%;
        width: 62%;
    
     }
     
     .right >svg:nth-child(2){
        position: absolute;
        right: -17%;
        top: 50%;
        width: 60%;
       
    
      
     }
      
     .imge{
        
         left: 15%;
         top:26%;
         
        
      
     }
     .imge img{
       width: 550px;
       height: 400px;
     }
      
     .Button{
        position: absolute;
       left:40%;
        top:85%;
        padding: 7px 10px 7px 10px;
        font-size: 16px;
  
     }
 
     
 .pass{
  
    width: 85%;
  
 
 }
 .pass div{
    height: auto;
   
    
    
 }
 .pro_box{
   
    padding-bottom: 200px;
 }
 .pass p{
    width: 90%;
    height: 100px;
    
 }
  
 
 
 .b {
    display: flex;
    gap: 50px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  
    height: 100%;
    
  }
   
  .b div>img{
      width: 80%;
      margin: auto;
      
  }
  
  
   
 
 .f2{
    width: 70%;
    margin-top: 25px;
 }
 
 .f2 img{
    width: 100%;
  
    border-radius: 10px;
 }
 
  
 .f1{
  
    gap: 20px;
    width: 75%;
    margin: auto;
    margin-top: 30px;
   
 }
   
  
 } */

@media screen and (max-width: 800px) {
  #v_bag {
    min-height: 100vh;
  }
}
