.video_frame {
position: fixed;
top:50px;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

#v_bag {
  display: block;
  width: 100%;
  transition: opacity 600ms ease 0s;
  position: relative;
  object-fit: cover;
  height: 80vh;
  will-change: transform;
  opacity: 1;
}


.contant {
  position: absolute;
  top: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  z-index:1;
  width: 100%;
 
  height:100%;
}

.clock {
    position: relative;
    width: 30%;
    height: fit-content;
    border-radius: 7px;
  
    margin: auto;
 
    justify-content: center;
    text-align: center;
    align-items: center;
    
      
    font-weight: bold;
    padding: 10px;
  }
  .left{
    width: 100%;
   
    
    align-items: center;
 }
.left > svg:nth-child(1) {
   position: absolute;
   top: 5%;
 
   width:43% ;
  height: auto;
 
  
}
.left > svg:nth-child(2) {
    position: absolute;
    top: 48%;
   width: 43%;
  height: auto;
 
 
 
}

.right{
    width: 100%;
   
   
    align-items: center;

}
.right > svg:nth-child(1) {
 
    position:absolute;
    top: -14%;
   
   
 
}

.right > svg:nth-child(2) {
  position:absolute;
  top: 47%;
   
  
  
  
  
}

.body {
  position: relative;

  align-items: center;
  width: 100%;
  
  height: auto;
  padding-bottom: 80px;
  
}

.b {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;

  height: 100%;
}

.b div > img {
  width: 70%;
  margin: auto;
}
.c img {
  width: 33%;
}
.c {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  height: fit-content;
}

.d {
  width: 33%;
  margin: auto;
  margin-top: 20px;
}

.f2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  width: 65%;
  margin: auto;
  margin-top: 20px;
}

.f2 img {
  width: 100%;

  border-radius: 10px;
}

.f1 img {
  width: 100%;

  border-radius: 10px;
}
.f1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;

  width: 65%;
  margin: auto;
  margin-top: 20px;
}

/* @media screen and (max-width:1200px) {
    .mainbody{
    
       margin-top: -100px;
       
       
     }
    
    #v_bag{
   
       display: block;
       width: 100%;
       transition: opacity 600ms ease 0s;
       position: relative;
       object-fit: cover;
       height: 75vh;
       will-change: transform;
       opacity: 1;
       
    }
    
    .contant{
       min-height: 600px;
       
     }
      
     .left >svg:nth-child(1){
        position: absolute;
        left: -30.5%;
        top: 16.6%;
        width: 70%;
       height: auto;
        align-self: flex-end;
        z-index: 100;
      
     }
     .left >svg:nth-child(2){
        position: absolute;
        left:-22%;
        top: 53%;
        width: 63%;
       height: auto;
        align-self: flex-end;
        z-index: 100;
       
     }
     .right >svg:nth-child(1){
        position: absolute;
        right: -22%;
        top: -27%;
        width: 62%;
    
     }
     
     .right >svg:nth-child(2){
        position: absolute;
        right: -17%;
        top: 50%;
        width: 60%;
       
    
      
     }
      
     .imge{
        
         left: 15%;
         top:26%;
         
        
      
     }
     .imge img{
       width: 550px;
       height: 400px;
     }
      
     .Button{
        position: absolute;
       left:40%;
        top:85%;
        padding: 7px 10px 7px 10px;
        font-size: 16px;
  
     }
 
     
 .pass{
  
    width: 85%;
  
 
 }
 .pass div{
    height: auto;
   
    
    
 }
 .pro_box{
   
    padding-bottom: 200px;
 }
 .pass p{
    width: 90%;
    height: 100px;
    
 }
  
 
 
 .b {
    display: flex;
    gap: 50px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  
    height: 100%;
    
  }
   
  .b div>img{
      width: 80%;
      margin: auto;
      
  }
  
  
   
 
 .f2{
    width: 70%;
    margin-top: 25px;
 }
 
 .f2 img{
    width: 100%;
  
    border-radius: 10px;
 }
 
  
 .f1{
  
    gap: 20px;
    width: 75%;
    margin: auto;
    margin-top: 30px;
   
 }
   
  
 } */

/* @media screen and (max-width: 700px) {
     
     
   
     
     .contant{
       min-height: 600px;
       
     }
      
     .left >svg:nth-child(1){
        position: absolute;
        left: -34.5%;
        top: 23.6%;
        width: 70%;
       height: auto;
        align-self: flex-end;
        z-index: 100;
      
     }
     .left >svg:nth-child(2){
        position: absolute;
        left:-25%;
        top: 50%;
        width: 63%;
       height: auto;
        align-self: flex-end;
        z-index: 100;
       
     }
     .right >svg:nth-child(1){
        position: absolute;
        right: -23%;
        top: -19%;
        width: 62%;
    
     }
     
     .right >svg:nth-child(2){
        position: absolute;
        right: -20%;
        top: 45%;
        width: 60%;
       
    
      
     }
      
     .imge{
        
         left: 12%;
         top:27%;
        
      
     }
     .imge img{
       width: 300px;
       height: 300px;
     }
      
     .Button{
        position: absolute;
        left: 28%;
        top:70%;
        padding: 4px 14px 4px 14px;
        font-size: 16px;
  
     }
     
 
     .pass{
        position: relative;
        display: grid;
       
        grid-template-columns: repeat(1,1fr);
        width: 75%;
        
     
     }
     
     .pro_box{
        padding-top:80px;
        padding-bottom: 230px;
     }
     .pass p{
        width: 85%;
        height: 70px;
     }
      .mdiv{
       min-width: 100%;
      
      }
     .b {
       display: flex;
       gap: 50px;
       width: 90%;
       justify-content: space-between;
       align-items: center;
       margin: auto;
     
       height: 100%;
       
     }
      
     .b div>img{
         width: 80%;
         margin: auto;
         
     }
 
     
 .f2{
  
    width: 93%;
    gap: 10px;
    margin-top: 25px;
 }
  
 .f1{
  
    width: 80%;
    gap: 10px;
    margin: auto;
    margin-top: 30px;
   
 }
 
 
 
 
  }
  */
