.teachers {
    width: 100%;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 50px;
}
.gridbox {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

/* .gridbox > div {
 display: flex;
 padding: 15px;
 flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  text-align: left;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
} */

/* .gridbox > div:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.06);
} */
/* .gridbox > div > img {
    margin: auto;
    border-radius: 20%;
    width: 50%;
    margin-bottom: 10px;
   
   
} */
.filters {
    margin: auto;
    width: 90%;
    display: flex;
    gap: 30px;
    margin-top: 20px;
  
}
/* .box > * {
    font-weight: bold;
    color: tomato;
}
.box > * > span {
    color: gray;
} */


@media all and (min-width: 769px) and (max-width: 1024px){
    .gridbox {
        grid-template-columns: repeat(2,1fr);

    }
    /* .gridbox > div > img {
        border-radius: 50%;
    } */
}


@media all and (min-width: 250px) and (max-width: 768px){
    .gridbox {
        grid-template-columns: repeat(1,1fr);

    }
    /* .gridbox > div > img {
        border-radius: 50%;
    } */
}
